$yellow: #fcd21d;
$grey: #747d88;
$off-white: #f7f7f7;
$aqua: #2ea3f2;
$slate: #353740;
$raspberry: #e30b5d;
$blueberry: #4f86f7;
$limegreen: limegreen;
$white: white;
$lightgreen: #15c39a;
$slategreen:#34545a;
$sky: #00adef;
$falured:#751308;
$mantle:#9DA69D;
$sapphire: #002664;
$trueblue:#0073cf;



